<div class="list-group-item">
    <i class="arrow alternate circle left icon" style="width: 10px;"></i>
    <div class="content monsieurbiz-sylius-menu-browser__item"
        onclick="monsieurbizSyliusMenuBrowserList('{{ inputName | escape('js') }}', '{{ inputValue | escape('js') }}', '{{ locale | escape('js') }}');"
    >
        <div class="description">
            {{ ux_icon('tabler:arrow-left', { 'class': 'icon' }) }} {{ ('monsieurbiz_menu.ui.go_back')|trans }}
        </div>
    </div>
</div>
