{% macro item(menu) %}
    {% import _self as macros %}

    {% if menu.items|length > 0 %}
        <div class="ui dropdown item">
            <span class="text"> {{ menu.label }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                {% for sub_item in menu.items %}
                    {{ macros.item(sub_item) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a href="{% if menu.url is empty %}#{% else %}{{ menu.url }}{% endif %}" class="item">{{ menu.label }}</a>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% set menu_items = menu_first_level('main') %}
{% if menu_items is not empty %}
    <div class="ui large stackable menu" data-component="navigation">
        {% for first_level_item in menu_items %}
            {{ macros.item(first_level_item) }}
        {% endfor %}
    </div>
{% endif %}
