<footer class="footer">
    <div class="footer__main">
        {% set main_menu_items = menu_first_level('main') %}
        {% if main_menu_items is not empty %}
            <div class="footer__navigation">
                <ul>
                    {% for main_menu_item in main_menu_items %}
                        <li>
                            {% if main_menu_item.url is not empty %}
                                <a href="{{ main_menu_item.url }}">{{ main_menu_item.label }}</a>
                            {% else %}
                                <span>{{ main_menu_item.label }}</span>
                            {% endif %}
                            {% set children = main_menu_item.items %}
                            {% if children is not empty %}
                                <ul>
                                    {% for child in children %}
                                        <li><a href="{{ child.url }}">{{ child.label }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    {% set footer_legals_items = menu_first_level('footer_legals') %}
    {% if footer_legals_items is not empty %}
        <div class="footer__aside">
            <ul>
                {% for item in footer_legals_items %}
                    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</footer>
