{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

{{ form_errors(form) }}

<div class="ui segment">
    <div class="field">
        {{ form_row(form.parent) }}

        <div class="ui segment">
            <div class="two fields">
                <div class="field">
                    {{ form_row(form.targetBlank) }}
                    <div class="ui message">{{ form_help(form.targetBlank) }}</div>
                </div>
                <div class="field">
                    {{ form_row(form.noreferrer) }}
                    <div class="ui message">{{ form_help(form.noreferrer) }}</div>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    {{ form_row(form.noopener) }}
                    <div class="ui message">{{ form_help(form.noopener) }}</div>
                </div>
                <div class="field">
                    {{ form_row(form.nofollow) }}
                    <div class="ui message">{{ form_help(form.nofollow) }}</div>
                </div>
            </div>
        </div>

        {{ translationForm(form.translations) }}
    </div>
</div>
